# Игнорируем зависимости (САМОЕ ВАЖНОЕ)
node_modules/
mobile/node_modules/
backend/node_modules/

# Игнорируем сборки
android/
ios/
mobile/android/
mobile/ios/
*.apk
*.exe

# Игнорируем кэш Expo и Metro
.expo/
.metro/
mobile/.expo/

# Игнорируем логи и системные файлы
*.log
.DS_Store
